* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #FFD194, #FFB347);
  /* Default sunny background */
  color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container Styling */
header,
main,
footer {
  width: 90%;
  max-width: 800px;
  margin: 100px auto;
}

/* Header Section */

header {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

/* Comment styling */
.title-comment {
  position: absolute;
  bottom: 200px;
  /* Adjust to move below the title */
  left: 50%;
  transform: translateX(90%) translateY(100%) rotate(-5deg);
  font-size: 1rem;
  font-style: italic;
  color: #333333;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Emoji styling */
.title-comment .emoji {
  opacity: 1;
  font-size: 1.2rem;
  transform: (-5deg);
}

.tagline {
  font-style: bold;
  font-size: 1.5rem;
}

/* Search Bar */

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  font-size: 1rem;
}

.search-button {
  background-color: #EB912B;
}